.Home {
    width: 100%;
    background-color: black;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Lato', sans-serif;
}

.main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

.title {
    text-align: center;
    width: 90%;
    margin: 0 auto;
    padding: 5% 0;
    &__top {
        
        font-size: 48px;
    }
    &__span{
        font-size: 48px;
        color: #ff4343;
    }

    &__bottom {
        color: #ddd;
        margin: 1% auto;
        font-size: 36px;
    }
}
