@import './_variables';

.Home {
    // display: flex;
    padding: 10% 0 0;
    width: 100%;
    height: 100vh;
    // background-color: black;
    background-image: url('../images/bg-75.jpg');
    background-image: url('../images/station_bg.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Lato', sans-serif;
    overflow: hidden;

}

.name{
    margin: 5% auto 0;
    text-align: center;
    color: $mainText;
    &__first{
        // font-size: 48px;
        font-size: calc(24px + 100 * ((100vw - 360px) / (1920 - 360)));
    }
    &__last{
        // font-size: 124px;
        font-size: calc(24px + 100 * ((100vw - 360px) / (1920 - 360)));
        color: $mainColor;
    }
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    color: $mainText;
    width: 100%;
}


.title {
    // display: flex;
    // flex-direction: column;
    // justify-content: space-between;
    margin: 0 auto;
    width: 100%;
    // text-align: center;
    // &__bottom {
    //     margin: 1% auto;
    //     font-size: 36px;
    // }

    &__services{
        padding: 5% 0; 
        
    }
    &__service{
        width: 100%;
        align-items: center;
        padding: 5% 0;
        font-size: calc(56px + 34 * ((100vw - 360px) / (1920 - 360)));
        // text-align-last: left;
        // &::after{
        //     content: '';
        //     display: block;
        //     width: 100%;
        //     height: 3px;
        //     background-color: $mainColor;
        // }
    }
    &__icon{
        padding-right: 5%;
    }
}


.info {
    // width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    // padding: 5% 0;
    margin: 5% auto 0;
    font-size: 36px;
    font-size: calc(16px + 20 * ((100vw - 360px) / (1920 - 360)));
    
    
    &__span{
        color: $mainColor;
    }
}
