.airCond {
  padding: 10% 0;
  width: 100%;
  height: 100vh;
  background-image: url("../images/ac_bg.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  font-family: 'Lato', sans-serif;
  color: #eee;
}

.airCond__list {
  list-style: none;
  padding: 5% 0 0 5%;
  font-size: calc(16px + 12 * ((100vw - 360px) / (1920 - 360)));
  text-transform: capitalize;
  text-align-last: left;
}

.airCond__item {
  padding: 0.5%;
}

.fas {
  padding: 0 2%;
}
