.gallery {
  padding: 10% 0;
  height: 100vh;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  font-family: 'Lato', sans-serif;
  color: #eee;
}

.gallery__title {
  padding-bottom: 2%;
}
