* {
  text-align: center;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-color: black;
  height: 100vh;
}

/* width */
::-webkit-scrollbar {
  width: 15px;
  border-radius: 5%;
}

/* Track */
::-webkit-scrollbar-track {
  background: #636362;
  border-radius: 5%;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(179, 179, 179);
  border-radius: 5%;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(to bottom, rgb(43, 43, 43), rgb(161, 161, 161));
}
